/* Add mobile styles for the component here.  */

.timeText {
    font-size: 40;
    color: #000;
    padding: 10dp;
}

.iconFont {
    padding: 0 10dp 10dp 10dp;
    font-size: 32;
    color: #008000;
}

.activity-indicator{
    width: 40dp;
    height: 40dp;
    color: #008000;
    z-index: 99;
}

.invisible {
    opacity: 0;
}

.controlButton {
    border-radius: 50%;
    font-size: 32;
    border-width: 1;
    border-color: #fff;
    height: 70dp;
    width: 70dp;
    color: #fff;
    margin: 20dp;
}

.play {
    background-color: #008000;
}

.pause {
    background-color: #f1bc0d;
}

.stop {
    background-color: #dd1e1e;
}

.loadingCircle {
    width: 50dp;
    height: 50dp;
    background-color: #fff;
}

.absCont {
    z-index: 23;
}

.outerAbsoluteLayout {
}