<StackLayout>
    <GridLayout rows="*" columns="*" class="actionBar" (pan)="drawer.onPan($event)">
        <label col="0" horizontalAlignment="center" class="actionBarTitle" text="Lagrede turer"></label>
        <GridLayout col="0" rows="*" columns="auto, *" class="actionBarBackButton" (tap)="goBack()">
            <label col="0" text="&#xf053;" class="actionBarBackButtonArrow"></label>
            <label col="1" text="Konto" verticalAlignment="center" class="actionBarBackButtonText"></label>
        </GridLayout>
    </GridLayout>

    <ScrollView height="2000">
        <StackLayout>
            <Label *ngIf="savedTrips.length == 0" text="Det finnes ingenting her enda, du kan lagre en tur ved å trykke på bokmerkesymbolet oppe til høyre på en av vennene dine sin tur" textWrap="true"></Label>
            <ng-templage *ngFor="let trip of savedTrips">
                <ns-trip-box *ngIf="trip != undefined" [id]="trip.id" personal="false" [inputTrip]="convertToJson(trip)" [username]="trip.username"></ns-trip-box>
            </ng-templage>
        </StackLayout>
    </ScrollView>
</StackLayout>