<StackLayout>
<GridLayout rows="*" columns="*, *, *" class="actionBar" (pan)="drawer.onPan($event)">
    <GridLayout col="0" rows="*" columns="auto, *" class="actionBarBackButton" (tap)="goBack()">
        <label col="0" text="&#xf053;" class="actionBarBackButtonArrow"></label>
        <label col="1" [text]="backButtonText" verticalAlignment="center" class="actionBarBackButtonText"></label>
    </GridLayout>
    <label col="1" class="actionBarTitle" [text]="pageTitle"></label>
</GridLayout>
<Image [src]="this.imageSrc" stretch="aspectFit"></Image>
</StackLayout>