<ScrollView class="scrollView">
<GridLayout android:fontFamily="cursive"
android:textStyle="bold">
        <StackLayout  verticalAlignment="center">
            <StackLayout class="form"  backgroundColor="#FFFFFF">
                    <TextView
                        color="darkgreen"
                        text-border="lightgreen"
                        text="KartApp"></TextView> 
                    <Image src="res://fjellman" stretch="aspectFill" width="50%" class="logo"></Image> 
                <StackLayout class="input-field">
                    <Label text="Email:"></Label>
                    <TextField class="input input-border input-login" ></TextField>   
                </StackLayout>
                <StackLayout class="input-field">
                    <Label text="Password:"></Label>
                    <TextField secure="true" class="input input-border input-login" ></TextField>
                </StackLayout>
                <Button class="btn btn-primary btn-login" text="Login"></Button>
                <Label text="Not a member? Register here."></Label>
                <Button class="btn btn-primary btn-sign-up" text="Register" ></Button>
            </StackLayout>
        </StackLayout>    
</GridLayout>
</ScrollView>
 
