.BrukernavnText{
    text-align:center;
    color:#0c7023;
    font-weight:bold;
    margin-top:2dt;
    margin-bottom:10dt;
    font-size: 18;
}
#my-button{
    background-color:#00b300;
    color:#0c7023;
    font-weight:bold;
    margin-top: 8dp;
}

.userIcon {
    font-size: 66;
    color: #008000;
}

.innholdContainer{
    padding: 10dp;
    color: #000;
}
.KontoInn{
    font-size:18;
    margin-left: 5dp;
}
.MinLabel{
    font-size:18;
    padding: 10dp 5dp;
}

.icon {
    margin-left: 10dp;
    color: #008000;
    font-size: 40;
}
