.BrukernavnText{
    text-align:center;
    color:#0c7023;
    font-weight:bold;
    margin-top:2dt;
    margin-bottom:10dt;
    font-size:20;
}
#my-button{
    background-color:#00b300;
    color:#0c7023;
    font-weight:bold;
    margin-top:8dp;
}
.container{
    margin:6dp 10dp 6dp 10dp;
    border-width:1 1 1 1;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.023);
}
.innholdContainer{
    height: 80dp;
    margin:4dp 5dp 4dp 5dp;
}
.KontoInn{
    margin-left:12dp;
    font-size:20;
}
.MinLabel{
    font-size:20;
}
