<StackLayout>
        <GridLayout rows="*" columns="*, *, *" class="actionBar" (pan)="drawer.onPan($event)">
            <label col="1" class="actionBarTitle" text="Konto"></label>
        </GridLayout>
        <ScrollView class="scrollView"> 
            <GridLayout android:fontFamily="cursive"
            android:textStyle="bold">
               
                <StackLayout>
                    <Image src="res://user_page_icon" stretch="aspectFill" width="100dp" height="100dp"></Image>
                    <Label [text]="userInfo" class="BrukernavnText"></Label>
                    <StackLayout>
                    <ContentView shadow elevation="2" class="container">
                        <GridLayout columns="*,*" rows="*,*" class="innholdContainer">
                            <Label col="0" row="0" text="Venner" class="MinLabel"></Label>
                            <Label col="0" row="1" text="Venners turer" class="MinLabel"></Label>
                        </GridLayout>
                    </ContentView>
                    </StackLayout>
                    <StackLayout>
                    <ContentView shadow elevation="2" class="container">
                        <GridLayout columns="*,*" rows="*,*" class="innholdContainer">
                            <Label col="0" row="0" text="Dine delte turer" class="MinLabel"></Label>
                            <Label col="0" row="1" text="Lagrende turer" class="MinLabel"></Label>
                        </GridLayout>
                    </ContentView>
                    </StackLayout>
                    <StackLayout>
                    <GridLayout columns="auto,*" rows="*,*" class="innholdContainer">
                        <Label col="0" row="0" text="Konto-innstillinger" textAlignment="left" class="KontoInn"></Label> 
                        <Image col="1" row="0" src="res://konto_innstilling_icon" stretch="aspectFill" width="60px" height="60px" horizontalAlignment="center"></Image>     
                    </GridLayout>
                    </StackLayout>
                     <Button id="my-button" class="btn btn-primary btn-rounded-sm" text="Logg Ut" (tap)=logOut()></Button>       
                </StackLayout>          
        </GridLayout>
     </ScrollView>
</StackLayout>
