<StackLayout>
    <GridLayout rows="*" columns="*, *, *" class="actionBar" (pan)="drawer.onPan($event)">
        <Label col="1" class="actionBarTitle" text="Venner" horizontalAlignment="center"></Label>
        <GridLayout col="0" rows="*" columns="auto, *" class="actionBarBackButton" (tap)="goBack()">
            <label col="0" text="&#xf053;" class="actionBarBackButtonArrow"></label>
            <label col="1" text="Konto" verticalAlignment="center" class="actionBarBackButtonText"></label>
        </GridLayout>
    </GridLayout>

    <ActivityIndicator *ngIf="loading" width="50" height="50" [busy]="loading" class="activity-indicator"></ActivityIndicator>
    <Label *ngIf="!success" text="Noe gikk galt ved innlasting av dine venner" textWrap="true" class="errorMessage"></Label>
    <Button *ngIf="!success" text="Prøv igjen" (tap)="loadFriends()" class="tryAgainBtn"></Button>
    <ContentView #content *ngIf="!loading && success" (loaded)="animate(content)">
        <ScrollView height="1000">
            <StackLayout>
                <ContentView shadow elevation="2" class="newFriendContent">
                    <GridLayout #newFriendBox rows="*, *" columns="*, auto" height="60" class="newFriendBox">
                        <Label row="0" col="1" #expandNewFriendArrow text="&#xf078;" height="20dp" width="20dp" horizontalAlignment="right" verticalAlignment="top" class="fas downArrow" (tap)="expandNewFriend(expandNewFriendArrow, newFriendBox)" textWrap="false"></Label>
                        <Label row="0" col="0" text="Legg til ny venn" (tap)="expandNewFriend(expandNewFriendArrow, newFriendBox)" textWrap="true"></Label>
                        
                        <TextField 
                            #usernameTextField
                            *ngIf="newFriendExpanded"
                            row="1" col="0"
                            hint="Brukernavn"
                            class="newFriendTextField"
                            autocorrect="false" 
                            (textChange)="checkUsername($event)" 
                            (returnPress)="sendNewRequest($event)"
                            >
                        </TextField>
                        <StackLayout *ngIf="newFriendExpanded" orientation="horizontal" row="1" col="1">
                            <Label *ngIf="usernameExists" text="Check" textWrap="false" verticalAlignment="center"></Label>
                            <Label *ngIf="!usernameExists && usernameExists != undefined" text="Cross" verticalAlignment="center" textWrap="false"></Label>
                            <Button #sendFriendButton text="Send" class="newFriendBtn" [isEnabled]="!sendingRequest" (tap)="sendRequest()"></Button>
                        </StackLayout>
                        
                    </GridLayout>
                </ContentView>
                <ContentView shadow elevation="2" class="contentContainer" *ngIf="friendRequests.length > 0">
                    <StackLayout class="requestContainer">
                        <Label text="Venneforespørsler" class="friendsHeader" textWrap="true"></Label>
                        <StackLayout *ngFor="let request of friendRequests" class="request">
                            <GridLayout *ngIf="request != undefined" rows="*" columns="*, *">
                                <Label col="0" [text]="request.name" textWrap="true" verticalAlignment="center"></Label>
                                <StackLayout col="1" *ngIf="request.status == 'received'" orientation="horizontal" col="1" verticalAlignment="center" horizontalAlignment="right">
                                    <Label text="&#xf00c;" *ngIf="!request.loading" class="acceptRequest" textWrap="true" (tap)="acceptRequest(request.name)"></Label>
                                    <Label text="&#xf00d;" *ngIf="!request.loading" class="declineRequest" textWrap="true" (tap)="declineRequest(request.name)"></Label>
                                    <ActivityIndicator *ngIf="request.loading" width="30" height="30" [busy]="request.loading" class="activity-indicator"></ActivityIndicator>
                                </StackLayout>
                            </GridLayout>
                        </StackLayout>
                    </StackLayout>
                </ContentView>
                <ContentView *ngIf="friendList.length > 0" shadow elevation="2" class="contentContainer">
                    <StackLayout class="requestContainer">
                        <Label class="friendsHeader" text="Dine venner" textWrap="true"></Label>
                        <GridLayout rows="*" columns="*, *" *ngFor="let friend of friendList" class="friend">
                            <Label col="0" [text]="friend.name" textWrap="false" verticalAlignment="center"></Label>
                            <Label col="1" text="&#xf00d;" textWrap="false" class="removeFriend" (tap)="removeFriend(friend.name)" verticalAlignment="center" horizontalAlignment="right"></Label>
                        </GridLayout>
                    </StackLayout>
                </ContentView>
            </StackLayout>
        </ScrollView>
    </ContentView>            
</StackLayout>