<ActionBar title="Innstillinger" (pan)="drawer.onPan($event)">
</ActionBar>
<ScrollView class="scrollView">
<StackLayout>
    <ContentView class="containerShadowBox" shadow elevation="2">
        <StackLayout class="container">
            <Label text="Generelt" textWrap="true" class="title"></Label>
            <GridLayout rows="*" columns="*, auto" class="setting">
                <Label col="0" text="Kartinstillinger" [nsRouterLink]="['./menu/map']" pageTransition="slide" class="settingLabel menu"></Label>
                <Label col="1" text="arrow" textWrap="false"></Label>
            </GridLayout>
        </StackLayout>
    </ContentView>
    <ContentView class="containerShadowBox" shadow elevation="2">
        <StackLayout class="container">
            <Label class="title" text="Avansert" textWrap="true"></Label>
            <GridLayout rows="*" columns="*, auto" class="setting">
                <Label col="0" text="Festepunkter på skuffen som passer innholdet på siden" textWrap="true" class="settingLabel"></Label>
                <Switch col="1" [checked]="isDrawerSnap" class="switch" (checkedChange)="drawerSnapChange($event)"></Switch>
            </GridLayout>
        </StackLayout>
    </ContentView>
</StackLayout>
</ScrollView>
