<ContentView #Box class="outerBox" shadow elevation="2">
    <GridLayout class="box" rows="*, *, *" columns="auto, *, *">
        <CheckBox col="0" rowSpan="2" class="checkBox" fillColor="#008000" [checked]="checked" (checkedChange)="toggleCheck()"></CheckBox>
        <Label col="1" row="0" class="boxLabel time" [text]="startTimeString" textWrap="true" (tap)="navigateToTrip()"></Label>
        <Label col="1" row="1" class="boxLabel" [text]="totalTimeString" textWrap="true" (tap)="navigateToTrip()"></Label>
        <StackLayout col="2" row="1" (tap)="navigateToTrip()">
            <Label text="" textWrap="true" class="boxLabel">
                <FormattedString>
                    <Span text="Distanse: "></Span>
                    <Span [text]="distanceString"></Span>
                    <Span text=" km"></Span>
                </FormattedString>
            </Label>
        </StackLayout>
        
        <GridLayout row="2" colSpan="3" rows="auto" columns="*, *" class="actionRow">
            <Label col="0" row="0" colSpan="2" horizontalAlignment="center" verticalAlignment="center" *ngIf="!personal" [text]="username" class="username" textWrap="true"></Label>
            
            <StackLayout orientation="horizontal" col="0" horizontalAlignment="center" verticalAlignment="center" class="actionLabel first" (tap)="upload()" *ngIf="!loading && personal">
                <Label text="&#xf093;" class="fontIcon actionIcon" textWrap="false" [ngClass]="{'uploaded': uploaded, 'failed': failed}"></Label>
                <Label *ngIf="!uploaded && !failed" text=" Last opp" class="actionText" textWrap="false" verticalAlignment="center"></Label>
                <Label *ngIf="failed" text="&#xf06a; Prøv igjen" verticalAlignment="center" class="failed" textWrap="false"></Label>
            </StackLayout>
            <ActivityIndicator *ngIf="loading" width="30" height="30" [busy]="loading" class="activity-indicator"></ActivityIndicator>

            <StackLayout orientation="horizontal" col="1" horizontalAlignment="center" verticalAlignment="center" class="actionLabel" (tap)="deleteTrip(Box)" *ngIf="personal">
                <Label text="&#xf1f8;" class="fontIcon actionIcon" textWrap="false"></Label>
                <Label text=" Slett" class="actionText" verticalAlignment="center" textWrap="false"></Label>
            </StackLayout>
        </GridLayout>

    </GridLayout>
</ContentView>
