.header{
    color: #000;
    font-size: 20;
    padding: 0 10dp 10dp 10dp;
    margin: 0;
    border-color: #aaa;
    border-width: 0 0 2px 0;
}

.page{
    padding-bottom: 100dp;
}

.tripsHeader{
    border-color: #aaa;
    text-align: left;
    font-size: 18;
    margin-top: 10dp;
    margin-left: 10dp;
}

.tripBtn{
    height: 60;
	width: 60;
	margin: 15;
	background-color: #ff4081;
	horizontal-align: right;
	vertical-align: bottom;
}

.newTripBtn{
    background-color: #0077ee;
    color: #fff;
}

.oldTripBtn{
    background-color: #00ee77;
    color: #fff; 
}

.currentTripBox{
    margin: 10dp 0 5dp 0;
    color: #000;
    font-size: 18;
    text-align: left;
    width: 100%;
    height: 70dp;
    border-radius: 20dp;
    background-color: #fff;
    
}

.currentPaused{
    border-color: #ffff00;
    border-width: 5;
}

.currentPlay{
    border-color: #008000;
    border-width: 5;
}

.currentTripBox .label{
    vertical-align: center;
    margin: 0 5dp 0 10dp;
}

.newTripContainer{
    width: 100%;
}