<GridLayout rows="auto, *">
    <StackLayout row="1">
        <Label text="Hjem" class="header" textWrap="true"></Label>
        <GridLayout *ngIf="isTrip" columns="*, auto" [class]="currentTripBoxClass" [nsRouterLink]="['./currentTrip']"  pageTransition="slideLeft">
            <Label col="0" [text]="currentTripText" textWrap="true" class="label"></Label>
            <Label col="1" text="arrow" textWrap="true" class="label"></Label>   
        </GridLayout>

        <ScrollView id="homeScrollView" class="scrollView">
            <StackLayout class="page" style="background-color: transparent;">
                <Label text="Turer" class="h3 tripsHeader" textWrap="true" [nsRouterLink]="['./allTrips']"></Label>
                <ng-templage *ngFor="let trip of trips" class="bottomElement">
                    <ns-trip-box #tripBox *ngIf="trip != undefined" id="{{trip.id}}" (delete)="delete(trip, tripBox)"></ns-trip-box>
                </ng-templage>
                <Button text="Slett trips-mappen" (tap)="deleteTripFolder()"></Button>
            </StackLayout>
        </ScrollView>
    </StackLayout>
    <!-- FloatActionButton - The round button bottom right that makes a new trip -->
    <FAB 
        *ngIf="!isTrip" 
        row="1" 
        [nsRouterLink]="['./currentTrip']" 
        pageTransition="slideLeft" 
        icon="res://round_directions_walk_white_36"
        [rippleColor]="btnRippleColor" 
        [class]="tripClass">
    </FAB>
</GridLayout>
