
<GridLayout class="page">
    <!-- Add your page content here -->    
    <!-- A container for the map -->
    <ContentView height="100%" width="100%">
        <!-- The map coming from the plugin 
            accessToken is the token I got from mapbox.com
            mapStyle is the style of the map, they have a variety of them, and you can make your own if you want to.
        -->
        <Mapbox
            accessToken="pk.eyJ1IjoiYmFjaGVsb3ItaW50ZXJha3RpdnQta2FydCIsImEiOiJjanI5czR5ZG8waXJ4NDNvY2k1aHY0NzYzIn0.bbWi5kPH3n89M7zxFTgXRw"
            mapStyle="mapbox://styles/mapbox/outdoors-v10"
            latitude="64.810928"
            longitude="15.605580"
            hideCompass="false"
            zoomLevel="3"
            showUserLocation="true"
            disableZoom="false"
            disableRotation="false"
            disableScroll="false"
            disableTilt="false"
            (mapReady)="onMapReady($event)">
        </Mapbox>
      </ContentView>
</GridLayout>