<AbsoluteLayout dock="top" class="absoluteContainer">
    <ContentView height="100%" width="100%" class="map">
        <!-- The map coming from the plugin 
            accessToken is the token I got from mapbox.com
            mapStyle is the style of the map, they have a variety of them, and you can make your own if you want to.
        -->
        <ns-map></ns-map>
    </ContentView>
    <DockLayout width="100%" height="100%" stretchLastChild="false" style="z-index: 99">
        <GridLayout rows="*" columns="*,*,*" class="bottomRow" dock="bottom" width="100%" height="50" backgroundColor="#ffaaaa">
            <Button col="0" text="Hjem" (tap)="change(home)" class="button"></Button>
            <Button col="1" text="Konto" (tap)="change(home)" class="button"></Button>
            <Button col="2" text="Instillinger" (tap)="change(home)" class="button"></Button>
            
        </GridLayout>
    </DockLayout>
    <StackLayout top="400%" width="100%" class="drawer">
        <Label text="Sett den dra tingen her" textWrap="true"></Label>
        <ScrollView width="100%" height="80%" horizontalAlignment="center"> 
            <Label text="Legg den dra-opp-greiå her" textWrap="true"></Label>
            <page-router-outlet></page-router-outlet>
        </ScrollView>
    </StackLayout>
</AbsoluteLayout>