<StackLayout>
<GridLayout rows="*" columns="*, *, *" class="actionBar" (pan)="drawer.onPan($event)">
    <GridLayout col="0" rows="*" columns="auto, *" class="actionBarBackButton" (tap)="goBack()">
        <label col="0" text="&#xf053;" class="actionBarBackButtonArrow"></label>
        <label col="1" [text]="backButtonText" verticalAlignment="center" class="actionBarBackButtonText"></label>
    </GridLayout>
    <label col="1" class="actionBarTitle" [text]="pageTitle"></label>
    <Label col="2" *ngIf="!local && !marked" text="&#xf02e;" class="far bookmark" (tap)="bookmark()" textWrap="true"></Label>
    <Label col="2" *ngIf="!local && marked" text="&#xf02e;" class="bookmark" (tap)="bookmark()" textWrap="true"></Label>
    
</GridLayout>
<ActivityIndicator *ngIf="loading" width="50" height="50" [busy]="loading" class="activity-indicator"></ActivityIndicator>
<Label *ngIf="failed" text="Kunne ikke laste tur akkurat nå" textWrap="true" class="failedText"></Label>
<Button *ngIf="failed" text="Prøv igjen" (tap)="loadTrip()"></Button>

<ScrollView *ngIf="!loading && !failed" height="2000">
    <StackLayout>
        <ContentView class="container" shadow elevation="2">
            <GridLayout rows="*, *, *, *" columns="*, *" class="innholdContainer">
                    <Label col="0" row="0" id="info" text="Start: " textWrap="true" ></Label>
                    <Label col="1" row="0" [text]="startTimeString" textWrap="true"></Label>        
    
                    <Label col="0" row="1" id="info" text="Stopp: " textWrap="true"></Label>
                    <Label col="1" row="1" [text]="stopTimeString" textWrap="true"></Label>              
            
                    <Label col="0" row="2" id="info" text="Tid brukt: " textWrap="true"></Label>
                    <Label col="1" row="2" [text]="totalTimeString" textWrap="true" ></Label>                   
            
                    <Label col="0" row="3" id="info" text="Lengde: " textWrap="true"></Label>
                    <Label col="1" row="3" text="{{distanceString}} km" textWrap="true"></Label>          
            </GridLayout> 
        </ContentView>
        
        <StackLayout *ngFor="let event of events" class="containerEvents">
            <GridLayout rows="*" columns="auto, *, *">
                    <StackLayout col="0" verticalAlignment="center">
                        <Label [text]="event.timestamp"></Label>
                        <Label *ngIf="event.type == 'pause'" text="Pause"></Label>
                        <Label *ngIf="event.type == 'walk'" text="Deltur" ></Label>
                        <Label *ngIf="event.type == 'image'" text="Tatt bilde" ></Label>
                    </StackLayout>

                    <StackLayout col="1" verticalAlignment="center">
                        <Label *ngIf="event.type == 'pause'" text="&#xf04c;" class="pause" horizontalAlignment="left"></Label>
                        <Label *ngIf="event.type == 'walk'" text="&#xf04b;" class="play" horizontalAlignment="left"></Label>
                        <Label *ngIf="event.type == 'image'" text="&#xf030;" class="play" horizontalAlignment="left" ></Label>
                    </StackLayout>

                    <Image col="2" *ngIf="event.type == 'image'" [src]="event.value.imageSrc" height="90" width="90" horizontalAlignment="right"></Image>
                    <StackLayout col="2" *ngIf="event.type == 'walk'" class="event">
                            <Label [text]="'Start: ' + event.value.startTime"></Label>
                            <Label [text]="'Stopp: ' + event.value.stopTime"></Label>
                            <Label [text]="'Distanse: ' + event.value.distanceMeters + ' km'"></Label>
                            <Label [text]="'Hastighet: ' + event.value.avgSpeed + ' min/km'" ></Label>
                    </StackLayout>
                    <StackLayout col="2" *ngIf="event.type == 'pause'" class="event">
                            <Label [text]="'Fra: ' + event.value.from"></Label>
                            <Label [text]="'Til: ' + event.value.to"></Label>
                    </StackLayout>
            </GridLayout>
    
        </StackLayout> 
        <Button text="Gå til tur" (tap)="goToTrip()" class="btn btn-primary btn-rounded-sm" id="button"></Button>
    </StackLayout>
</ScrollView>

</StackLayout>