
<!-- The map coming from the plugin 
    accessToken is the token I got from mapbox.com
    mapStyle is the style of the map, they have a variety of them, and you can make your own if you want to.
-->        
<Mapbox
    accessToken="pk.eyJ1IjoiYmFjaGVsb3ItaW50ZXJha3RpdnQta2FydCIsImEiOiJjanI5czR5ZG8waXJ4NDNvY2k1aHY0NzYzIn0.bbWi5kPH3n89M7zxFTgXRw"
    [mapStyle]="mapStyles.mapStyle"
    [latitude]="mapStyles.latitude"
    [longitude]="mapStyles.longitude"
    hideCompass="false"
    [zoomLevel]="mapStyles.zoomLevel"
    [showUserLocation]="mapStyles.showUser"
    [disableZoom]="mapStyles.disableMovement"
    [disableRotation]="mapStyles.disableMovement"
    [disableScroll]="mapStyles.disableMovement"
    [disableTilt]="mapStyles.disableMovement"
    (mapReady)="onMapReady($event)">
</Mapbox>