/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/
*{
    background-color: transparent;
}

.btn {
    font-size: 18;
}

.mapBox{
    z-index: -1;
}

.bottomRow{
    z-index: 10;
}

.absoluteContainer{
    z-index: 0;
}

.overlayOuter{
}

.overlayBottomRow{
}

.overlayMapButtons{
}

.drawer{
    background-color: rgba(255, 255, 255, 0.8);
    border-top-left-radius: 20dp;
    border-top-right-radius: 20dp;
}

.drawerMaximized{
    background-color: rgba(255, 255, 255, 1);
}

.drawer, .drawerMaximized{
    text-align: center;
    padding: 0 10dp;
    font-family: 'FontAwesome', 'Font-Awesome';
}

.drag{
    padding: 10dp;
    width: 100dp;
    
}

.scrollView{

}

.backBtn{
    margin: 0;
    padding: 0;
    border-color: #fff;
    color: blue;
    border-radius: 1;
    font-size: 14;
}

.button, .buttonSelected{
    background-color:#eee;
    height: 100%;
    font-family: 'FontAwesome', 'Font-Awesome';
    font-size: 12;
    vertical-align: middle;
    width: 100%;
    border-color: #eee;
    border-width: 1px;
}

.button{
    color: #888;
}

.buttonSelected{
    color: #00f;
}
    
.button:active {

}

.buttonSelected:active {

}
.locationButton{
    border-radius: 50%;
    height: 60dp;
    width: 60dp;
    background-color: #fff;
    margin-bottom: 50dp;
    margin-right: 10dp;
}

.fas {
    font-family: Font Awesome 5 Free, fa-solid-900;
    font-weight: 900; 
}

.topBarBackground {
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 100;
}