/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.btn {
    font-size: 18;
}

.map{
    z-index: -1;
}

.bottomRow{
    z-index: 10;
}

.absoluteContainer{
    z-index: 0;
}

.drawer{
    background-color: #fff;
    text-align: center;
    padding: 0 30px;
    height: 530px;
}

.button{
    background-color: orangered;
    color: white;
    height: 100%;
    border-radius: 4px;
    font-family: FontAwesome;
    font-size: 12;
    vertical-align: middle;
    width: 100%;
}

.button:active {
    background-color: red;
    color:white;
}