.page {
  align-items: center;    
  background-color: transparent;
  flex-direction: column;
}
  .form {
    margin-left: 30;
    margin-right: 30;
    flex-grow: 2;
  }
 
  .linje-under{
    border-color:gray;
    border-width: 0 0 1 0;
    text-align: left;  
    margin-top: 10dp;
    font-size: 15;
    font-weight: bold;
  }

  .linje-under.first {
    margin-top: 0;
  }

  #my-button{
    background-color:#00b300;
    color:#0c7023;
    font-weight: bold;
  }
  
  .LoggInText{
    vertical-align: center;
    font-size:19;
    color:#0c7023;
    text-align:center;
  }
  .container{
    margin-top: 10dp;
    background-color: transparent;
  }
  .BildeLoggIn{
    horizontal-align: right;
    font-size: 50;
    color: #008000;
  }