/* Add mobile styles for the component here.  */

.box{
    text-align: left;
    margin: 5dp 10dp 5dp 10dp;
    padding: 20dp;
    background-color: #fff;
}

.deleteBtn{
    padding: 10dp 5dp 10dp 5dp;
}